# OAuth2 client credentials
GDRIVE_OAUTH_REDIRECT_URI=

# ID of the Google Drive folder where shards will be stored.
GDRIVE_FOLDER_ID=

FRONTEND_URL=

# Internal service URLs (for Docker: use container names; for local: use localhost)
SHARDMAP_URL=http://localhost:8081
